<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/labexam</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Hibernate properties -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping classes -->
        <mapping class="com.klef.jfsd.exam.inherit.Vehicle"/>
		<mapping class="com.klef.jfsd.exam.inherit.Car"/>
		<mapping class="com.klef.jfsd.exam.inherit.Truck"/>

    </session-factory>
</hibernate-configuration>
